
.floatContainer{
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
display: flex;
justify-content:space-between;
flex-wrap: wrap;
margin:auto;
/*height:100%;*/
}
.floatArticle{
	height: 100%;
	width: 300px;
	float: left;
	border: 1px black solid;
}
.floatArticle p{
	word-wrap:break-word;	
}
.floatStage{
	margin: auto; 
}

#background{
		position: absolute;
	top: 0;
	left:0;
	background-color: gray;
	height:50%;
	width: 100%;
}
